@import url('https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap');

html {
    scroll-behavior: smooth;
}
body {
    background-color: #F2DAC4;
    margin: 0 auto;
    font-family: Architects Daughter;
}
main {
    padding-top: 100px;
}
h1 {
    font-size: 64px;
    line-height: 89px;
}
h2 {
    font-size: 48px;
    line-height: 67px;
}
h4 {
    font-size: 36px;
    line-height: 50px;
}
a {
    text-decoration: none;
    color: #000000;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
header {
    background-color: #A6653F;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
}
.nav_item {
    list-style: none;
    color: #FFFFFF;
    font-size: 36px;
    line-height: 50px;
}
.nav_item a:hover {
    color: #FFFFFF;
    transition: 0.35s;
}
.burger {
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: relative;
    margin: 15px 0;
}
.burger_item {
    display: block;
    width: 100%;
    height: 8px;
    background-color: #000000;
    position: absolute;
    left: 0;
    transition: 0.3s all linear;
}
.burger_item_line1 {
    top: 0;
}
.burger_item_line2, .burger_item_line3 {
    top: 50%;
    transform: translateY(-50%);
}
.burger_item_line4 {
    bottom: 0;
}
.burger_active .burger_item_line1, .burger_active .burger_item_line4 {
    opacity: 0;
}
.burger_active .burger_item_line2 {
    transform: translateY(-50%) rotate(45deg);
}
.burger_active .burger_item_line3 {
    transform: translateY(-50%) rotate(-45deg);
}
.about {
    margin-bottom: 100px;
}
.about_contant {
    display: flex;
}
.left-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-img {
    width: 524px;
    height: 521px;
}
.contacts_title {
    margin: 0;
}
.contacts_list {
    padding: 0;
}
.contacts_item {
    list-style: none;
    font-size: 30px;
    line-height: 42px;
}
.right-content {
    display: flex;
    flex-direction: column;
    align-items: center;   
}
.description {
    margin: 0;
    margin-bottom: 15px;
}
.title {
    margin: 0;
    margin-bottom: 5px;
}
.section-title {
    text-align: center;
    margin-bottom: 50px;
}
.skills {
    margin-bottom: 100px;
}
.skill_list {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    flex-wrap: wrap;
    height: 330px;
    list-style: none;
    margin: 0;
}
.skill_item {
    font-size: 36px;
    line-height: 50px;
    padding: 30px;
}
.skill_html {
    background-image: url(img/html-logo.png);
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 90px;
    background-position: left center;
}
.skill_css {
    background-image: url(img/css-logo.png);
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: left center;
}
.skill_js {
    background-image: url(img/js-logo.png);
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: left center;
}
.skill_photoshop {
    background-image: url(img/ps-logo.png);
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: left center;
}
.skill_figma {
    background-image: url(img/figma-logo.png);
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: left center;
}
.skill_git {
    background-image: url(img/git-logo.png);
    padding-left: 80px;
    background-repeat: no-repeat;
    background-size: 75px;
    background-position: left center;
}
.projects {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 110px;
}
.project_3rd_title {
    margin: 0;
}
.project_3rd_description {
    margin: 0;
    font-size: 36px;
    line-height: 50px;
    width: 336px
}
.projects_img:hover {
    box-shadow: 15px 15px #736048;
    transform: translateX(-15px);
}
footer {
    background-color: #A6653F;
    top: 0;
    width: 100%;
}
.footer_contant {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.rs-logo {
    width: 187px;
    height: 69px;
}
.gh-logo {
    width: 52px;
    height: 52px;
}
@media (min-width: 1200px) {
    .burger {
        display: none;
    }
}
@media (max-width: 1199px) {
    .container {
        width: 700px;
    }
    .about_contant {
        margin-top: 100px;
        flex-direction: column;
    }
    .projects_img {
        width: 800px;
    }
    .projects {
        flex-direction: column;
    }
    .nav_item {
        display: none;
    }
    .nav_list.active {
        position: relative;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    header .nav_list.active {
        height: 300px;
        transition: 0.3s all linear;
    }
    .nav_list.active .nav_item {
        display: block;
    }
}
@media (max-width: 800px) {
    .container {
        width: 350px;
    }
    .skills {
        padding-bottom: 320px;
    }
    .skill_list {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    .projects_img {
        width: 300px;
    }
    .main-img {
        width: 350px;
        height: 352px;
    }
}
@media (max-width: 400px) {
    .container {
        width: 200px;
    }
    .main-img {
        width: 200px;
        height: 202px;
    }
    h1 {
        font-size: 50px;
        line-height: 60px;
    }
    h2 {
        font-size: 40px;
        line-height: 50px;
    }
    h4 {
        font-size: 28px;
        line-height: 40px;
    }
    .skill_item, .contacts_item {
        align-items: center;
        font-size: 30px;
    }
    .project_3rd_description {
        width: 250px;
        font-size: 20px;
    }
    .skill_html, .skill_css, .skill_js, .skill_photoshop, .skill_figma, .skill_git {
        background-size: 60px;
        padding-left: 65px;
    }
}
.nav_container {
    display: flex;
    justify-content: center;
    align-items: center;
}